<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
        <title>Ecoleta</title>      {# vai utilizar esse título caso não tenha um nas páginas #}
    {% endblock title %}
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}      {# outros estilos vão ficar aqui (os outros aqui vão para todas as páginas) #}
    {% endblock styles %}

    <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>

    <div id="{{ pageId }}">     {# pelo set da página vai receber o nome da variável pageId#}
        {% block content %}     {# vai ficar o conteúdo da página #}
        {% endblock content %}
    </div>

    {% block modal %}       {# colocar o modal onde tiver que colocar #}
    {% endblock modal %}

    {% block scripts %}     {# colocar os scripts onde tiver que colocar #}
    {% endblock scripts %}
</body>
</html>