<div id="modal" class="point">
    <div class="content">
        <img src="/assets/check.svg" alt="Cadastrado concluído">
        <h1>Cadastro concluído</h1>
    </div>
</div>

<script>
    setTimeout( () => {
        //a funcionalidade que ela vai executar
        window.location = "/"   // localização da janela ser igual a '/' (voltar para 'home')
    }, 2000)    //função que vai rodar depois de um certo tempo
    //primeiro argumento roda uma funcionaliade
    //segundo argumento depois de quanto tempo ela vai rodar
</script>